<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body style="background: aqua">
<div align="center">
    <br><br>注册界面<br><br>
    <form method="get" action="/RegisterSuccess">
        账号:<input type="text" name="user_id" placeholder="请输入账号" required/><br><br>
        用户名:<input type="text" name="user_name" placeholder="请输入用户名" required/><br><br>
        密码：<input type="text" name="user_psw" placeholder="请输入密码" required/><br><br>

        <input type="submit" value="注册">
    </form>
</div>
</body>
</html>
