<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.scau.express.dao.UserLoginMapper">
    <select id="queryAll" resultType="cn.edu.scau.express.bean.UserLogin">
        select * from user_group
    </select>

    <insert id="add" parameterType="cn.edu.scau.express.bean.UserLogin">
    <selectKey keyProperty="customer_id" resultType="int" order="BEFORE">
    select id+1 from customer order by id desc limit 1;
    </selectKey>
        insert into user_group(user_id,user_name,user_psw,user_permission,customer_id,customer_sex,customer_tel,customer_address)
        values (#{user_id},#{user_name},#{user_psw},'normal',#{customer_id},#{customer_sex},#{customer_tel},#{customer_address})
    </insert>

    <select id="queryByName" resultType="cn.edu.scau.express.bean.UserLogin">
        select * from user_group where user_name = #{user_name}
    </select>

    <select id="queryById" resultType="cn.edu.scau.express.bean.UserLogin">
        select * from user_group where user_id = #{user_id} and user_psw = #{user_psw}
    </select>

    <select id="queryPswById" resultType="string">
        select user_psw from user_group where user_id = #{user_id}
    </select>
</mapper>
